.about-us{

  .slick-arrow .slick-next{

  }
  .slick-next:before {
    content: url("../../assets/icons/right-arrow.png");
    font-size: 32px;
  }

  .slick-prev:before {
    content: url("../../assets/icons/left-arrow.png");
    font-size: 32px;
  }

}